.goal-container {
  aspect-ratio: 7 / 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  border: 1px solid #cecece;
  background: #f2f2f2;
  text-align: center;
  justify-content: start;
  container-type: inline-size;
  gap: 4%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif;
}

.description-label {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  white-space: nowrap;
  height: 12%;
  padding: 2%;
  background-color: #3d3e6e;
  font-size: 5cqw;
}

.growth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.growth-container-solid-grey {
  position: relative;
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cecece;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.total-donation-label {
  color: #000;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 6cqw;
  font-weight: 400;
}

.sample-donor-container {
  width: 100%;
  aspect-ratio: 5 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.sample-donor-profile {
  display: flex;
  width: 12%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
}

.sample-donor-label {
  width: 70%;
  overflow: hidden;
  border-radius: 4px;
  padding: 2%;
  background: #3d3e6e;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6%;
  padding: 4%;
}

.sample-donor-amount {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4cqw;
  overflow: hidden;
}

.growth-container-solid-white {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.growth-container-solid-grey-inner {
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #55565a;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.growth-container-solid-teal {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 90%;
  border-radius: 50%;
  background: #0c7962;
}

.growth-container-gradient {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: conic-gradient(
    from 180deg at 50% 50%,
    #c6be3b 0deg,
    #863b27 90deg,
    #650d77 180deg,
    #0c7962 270deg,
    #c6be3b 360deg,
    transparent 180deg 360deg
  );
}

.soil-base {
  background-color: #211504;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.soil-top {
  position: absolute;
  background-color: #332308;
  width: 90%;
  left: 5%;
  height: 18%;
  border-radius: 50%;
  bottom: 20%;
}

.progress-bar-handle {
  position: absolute;
  width: 5%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #ffffff;
}
